@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

.top-nav {
    display: flex;
    align-items: center;
    background: #f5f5f6;
    height: 50px;
    padding: 0 100px;
}

.brand-logo {
    margin-right: 90px;
}

.nav-items span {
    margin-right: 36px;
    font-size: 11px;
    font-weight: 500;
}

.auth {
    margin-left: auto;
    height: 33px;
    padding: 0 22px;
    background: #fff;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    margin-top: 56px;
    width: 650px;
}

.exchange {
    display: flex;
    gap: 120px;
    margin-top: 60px;
}

.block {
    width: 300px;
}

.currency-group {
    display: flex;
    margin: 16px 0;
}

.unit {
    width: 62px;
    height: 28px;
    border: 1px solid #c6c6c6;
    background: #fff;
    font-size: 12px;
    color: #9f9f9f;
    cursor: pointer;
}

.unit.active {
    background: #833ae0;
    color: #fff;
}

.input-area {
    border: 1px solid #e5e5e5;
    height: 102px;
}

.input-area input {
    width: 100%;
    font-size: 36px;
    border: none;
    padding: 10px;
}

.input-area input:focus {
    outline: none;
}

.info {
    font-size: 12px;
    color: #c6c6c6;
    margin-left: 10px;
}